*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
chrissinchok.zip
.installed.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.DS_Store
.Trash
var
chrissinchok.db
fabfile.py