<address class="vcard">
	<a class="fn n" id="hcard-Chris-Sinchok-name">
        <span class="given-name">{{me.first_name}}</span>
        <span class="family-name">{{me.last_name}}</span>
    </a>
	<span class="adr">
		<span class="street-address">{{me.address1}}</span>
		<span class="locality">{{me.city}}</span>, <span class="region">{{me.state}}</span> <span class="postal-code">{{me.zipcode}}</span>
	</span>
	<span>Email: <a class="email" href="mailto:{{me.email}}">{{me.email}}</a></span>
	<span>Homepage: <a class="url" href="{{me.website}}">{{me.website}}</a></span>
	<span>Phone: <span class="tel">{{me.phone}}</span></span>
</address>