<li class="experience vevent">
	<a href="#hcard-{{me.first_name}}-{{me.last_name}}-name" class="include" title="{{me.first_name}} {{me.last_name}}"></a>
	<span class="summary title">{{role.title}}</span>,
	<span class="org">{{role.company}}</span>,
	<address class="adr">
		<span class="locality">{{role.company.city}}</span>, <span class="region">{{role.company.state}}</span>
	</address>
	<abbr class="dtstart" title="2010-09-01">September 1, 2010</abbr> - <abbr class="dtend" title="2010-09-17">September 17, 2010</abbr>
	<div class="description">
		{{role.description}}
    </div>
</li>